/*APP.JS*/
.message {
  background-color: #222;
  text-align: center;
  height: 30px;
  font-size: 20px;
  color: white;
}

p{
  font-size: 20px;
}

h2 {
  font-size: 35px;
  font-family: Roboto;
  color: #088da5;
}

h3 {
  font-family: Roboto;
}

/*body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/6d/8a/c1/6d8ac1a8888d08305e9a707359099cd0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}*/

/*ROUTES*/
/*ADDJOB*/
.formSize {
  margin-left: 25%;
  margin-right: 25%;
}

.panel-heading {
  font-size: 25px;
}


/*ALTERNATEVIEW*/
.clear {
  background: rgba(0, 255, 255, 0);
  border-style: none;
}


/*HOME*/
.jumbotron {
  font-family: Ubuntu;
  text-align: center;
  min-height: 600px;
  background-image: url('https://static.pexels.com/photos/47426/pexels-photo-47426.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 100px;
  border-top: 3px solid rgb(91,192,222);
  border-bottom: 3px solid rgb(91,192,222);
  color: white;
  text-shadow: black 2px 2px;
}

.formContainer {
  background-image: url('https://static.pexels.com/photos/47426/pexels-photo-47426.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 40px;
}

.headFeature{
  text-align: center;
}

.jumbotron h1 {
  text-align: center;
  color: orange;
}

.benefits {
  padding-top: 15px;
}

.thumbs {
  border: 2px solid;
  border-radius: 25px;
  width: auto;
  max-height: 300px;
  max-width: 500px;
  margin: 10px;
}


.hrstyle{
  border-top: 1px solid orange;
}

/*COMPONENTS*/
/*SLIDE*/
.pictures {
  margin: auto;
  width: auto;
  max-height: 300px;
}


/*ALTERNATE, JOBLISTING, AND JOBLISTING2*/
.GREEN {
  color: green;
  margin-left: 48%;
}

.YELLOW {
  color: yellow;
  margin-left: 48%;
}

.indexHeader {
  margin: 50px;
}

.RED {
  color: red;
  margin-left: 48%;
}

/*JOBLISTING, JOBLISTING2*/
.jobList {
  list-style-type: none;
  border: 1px orange solid;
  box-shadow: 2px 2px orange;
  background-image: url(http://1.bp.blogspot.com/_Sb0L_zHQ6hM/S8gxCUw9iyI/AAAAAAAAAVI/aDFjbSlKWG0/s320/06-11_slick_businesscard_duplicated_finished.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
